.button {
    -fx-background-color: #B05A36;
    -fx-text-fill: #C6B9AB;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #C6B9AB;
}

.text-field, .password-field, .combo-box {
    -fx-background-color: rgba(198, 185, 171, 0.9);
    -fx-text-fill: #1A211B;
    -fx-prompt-text-fill: #666666;
    -fx-background-radius: 5;
} 